In [23]:
import pandas as pd
import numpy as np
import seaborn as sns

In [370]:
movies = pd.read_csv('./data/2/movies.csv')
recommendation = pd.read_csv('./data/2/recommendation_logs.csv')
reviews = pd.read_csv('./data/2/reviews.csv')
search = pd.read_csv('./data/2/search_logs.csv')
users = pd.read_csv('./data/2/users.csv')
watch = pd.read_csv('./data/2/watch_history.csv')

## movies

In [25]:
movies.head()

,movie_id,title,content_type,genre_primary,genre_secondary,release_year,duration_minutes,rating,language,country_of_origin,imdb_rating,production_budget,box_office_revenue,number_of_seasons,number_of_episodes,is_netflix_original,added_to_platform,content_warning
0,movie_0001,Dragon Legend,Stand-up Comedy,History,Thriller,2014,35.0,TV-Y,French,Japan,NaN,NaN,NaN,NaN,NaN,False,2023-08-07,False
1,movie_0002,Storm Warrior,Stand-up Comedy,Sci-Fi,NaN,2017,37.0,PG,Japanese,USA,3.3,NaN,NaN,NaN,NaN,False,2022-01-28,True
2,movie_0003,Fire Family,Movie,Drama,NaN,2003,142.0,TV-MA,English,USA,8.5,2114120.0,NaN,NaN,NaN,False,2021-05-04,True
3,movie_0004,Our Princess,Documentary,Sci-Fi,NaN,2011,131.0,NC-17,Japanese,USA,5.3,NaN,NaN,NaN,NaN,False,2022-11-26,False
4,movie_0005,Warrior Mission,Documentary,Sport,Mystery,2015,91.0,TV-G,English,USA,3.1,NaN,NaN,NaN,NaN,False,2023-06-15,False

In [422]:
# movies 데이터 셋의 컬럼 NaN 값
movies.isnull().sum()

movie_id               0
title                  0
content_type           0
genre_primary          0
release_year           0
duration_minutes       0
rating                 0
language               0
country_of_origin      0
imdb_rating            0
is_netflix_original    0
added_to_platform      0
content_warning        0
dtype: int64

### 숫자열

- `release_year` (출시 연도)
- `duration_minutes` (상영 시간 (분))
- `imdb_rating` (IMDB 평점)
- `production_budget` (제작 예산)
- `box_office_revenue` (박스오피스 수익)
- `number_of_seasons` (시즌 수)
- `number_of_episodes` (에피소드 수)

In [373]:
# release_year 데이터 확인
print(movies['release_year'].value_counts())

release_year
1998    38
2018    36
1997    34
2020    34
2011    32
2002    31
2024    30
1990    30
1993    29
2015    29
2003    29
1995    26
2005    26
2001    26
2023    26
2022    25
2014    25
2017    25
1999    22
1996    22
1992    22
2016    21
2010    21
2000    21
2008    21
2004    21
2021    21
2006    20
2009    20
2012    20
1994    19
2013    19
2019    19
1991    18
2007    18
1966     3
1961     2
1956     2
1986     1
1953     1
1954     1
1981     1
1978     1
1963     1
1965     1
Name: count, dtype: int64

In [181]:
# duration_minutes 소수점 반올림
movies['duration_minutes'] = movies['duration_minutes'].round(0)
print(movies['duration_minutes'])

0        35.0
1        37.0
2       142.0
3       131.0
4        91.0
        ...
1035     19.0
1036     48.0
1037     54.0
1038    137.0
1039    102.0
Name: duration_minutes, Length: 1040, dtype: float64

In [182]:
# imdb_rating 소수점 반올림
movies['imdb_rating'] = movies['imdb_rating'].round(0)
print(movies['imdb_rating'])
print(movies['imdb_rating'].value_counts())

0        NaN
1        3.0
2        8.0
3        5.0
4        3.0
        ...
1035     6.0
1036     6.0
1037     7.0
1038     6.0
1039    10.0
Name: imdb_rating, Length: 1040, dtype: float64
imdb_rating
6.0     239
7.0     183
8.0     144
5.0     124
4.0      63
9.0      56
3.0      25
1.0      24
10.0     22
2.0       9
0.0       1
Name: count, dtype: int64

In [183]:
# production_budget 반올림
movies['production_budget'] = movies['production_budget'].round(0)
print(movies['production_budget'])

0              NaN
1              NaN
2        2114120.0
3              NaN
4              NaN
           ...
1035           NaN
1036           NaN
1037           NaN
1038     3593765.0
1039    14939487.0
Name: production_budget, Length: 1040, dtype: float64

In [184]:
# box_office_revuenu 반올림
movies['box_office_revenue'] = movies['box_office_revenue'].round(0)
print(movies['box_office_revenue'])

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
1035           NaN
1036           NaN
1037           NaN
1038     2259750.0
1039    21771252.0
Name: box_office_revenue, Length: 1040, dtype: float64

In [185]:
# number_of_seasons 반올림
movies['number_of_seasons'] = movies['number_of_seasons'].round(0)
print(movies['number_of_seasons'])

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
1035     NaN
1036     9.0
1037    10.0
1038     NaN
1039     NaN
Name: number_of_seasons, Length: 1040, dtype: float64

In [186]:
# number_of_episodes 반올림
movies['number_of_episodes'] = movies['number_of_episodes'].round(0)
print(movies['number_of_episodes'])

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
1035      NaN
1036     85.0
1037    174.0
1038      NaN
1039      NaN
Name: number_of_episodes, Length: 1040, dtype: float64

In [372]:
# 데이터 숫자열 NAN(결측치) 제거
# 결측치 제거 후 너무 적은 데이터가 남은 컬럼 제거
movies.dropna(subset=['imdb_rating'], inplace=True)
numeric = ['imdb_rating', 'production_budget', 'box_office_revenue', 'number_of_seasons', 'number_of_episodes']
dropped = movies.dropna(subset=numeric)
after = len(dropped)
print(movies[numeric].count())
movies.drop(columns=['production_budget', 'box_office_revenue', 'number_of_seasons', 'number_of_episodes'], inplace=True)

imdb_rating           890
production_budget     326
box_office_revenue    288
number_of_seasons     240
number_of_episodes    267
dtype: int64

### 문자열

- `movie_id` (영화 ID)
- `title` (제목)
- `content_type` (콘텐츠 유형)
- `genre_primary` (주요 장르)
- `genre_secondary` (보조 장르)
- `rating` (관람 등급)
- `language` (언어)
- `country_of_origin` (제작 국가)
- `added_to_platform` (플랫폼 추가일)

In [188]:
# movie_id 중복값 확인 및 제거
print(movies['movie_id'].duplicated().sum())
print(movies['movie_id'].value_counts())
movies.drop_duplicates(subset=['movie_id'], keep='first', inplace=True)
print(movies['movie_id'].size)

34
movie_id
movie_0383    2
movie_0043    2
movie_0210    2
movie_0147    2
movie_0138    2
             ..
movie_0995    1
movie_0023    1
movie_0997    1
movie_0998    1
movie_0030    1
Name: count, Length: 856, dtype: int64
856

In [189]:
# content_type 값 확인
print(movies['content_type'].size)
print(movies['content_type'].value_counts())

856
content_type
Movie              386
TV Series          211
Documentary        119
Stand-up Comedy     97
Limited Series      43
Name: count, dtype: int64

In [190]:
# genre_primary 값 확인
print(movies['genre_primary'].size)
print(movies['genre_primary'].value_counts())

856
genre_primary
Adventure      62
Animation      52
War            50
History        48
Comedy         48
Action         47
Western        47
Sci-Fi         45
Documentary    44
Romance        43
Biography      43
Horror         43
Crime          42
Fantasy        41
Drama          38
Family         36
Mystery        34
Music          33
Thriller       31
Sport          29
Name: count, dtype: int64

In [191]:
# genre_secondary 값 확인
print(movies['genre_secondary'].size)
print(movies['genre_secondary'].value_counts())

856
genre_secondary
Adventure      23
Sci-Fi         21
Drama          21
Family         19
Thriller       18
Crime          18
War            17
Biography      17
Mystery        16
History        16
Western        15
Fantasy        15
Sport          13
Animation      13
Music          12
Comedy         12
Documentary    11
Horror         11
Action          9
Romance         7
Name: count, dtype: int64

In [192]:
# rating 값 확인
print(movies['rating'].value_counts())
print(movies['rating'].size)

rating
NC-17    86
PG       85
G        84
TV-Y     84
PG-13    82
TV-MA    79
TV-Y7    79
TV-PG    74
TV-14    74
R        68
TV-G     61
Name: count, dtype: int64
856

In [193]:
# language 값 확인
print(movies['language'].value_counts())
print(movies['language'].size)

language
English     505
Spanish      84
French       54
Hindi        47
Korean       45
Japanese     44
Italian      44
German       33
Name: count, dtype: int64
856

In [194]:
# country_of_origin 값 확인
print(movies['country_of_origin'].value_counts())
print(movies['country_of_origin'].size)

country_of_origin
USA            452
South Korea     91
Canada          87
UK              67
Japan           47
France          40
Germany         39
India           33
Name: count, dtype: int64
856

In [195]:
# added_to_platform 값 확인 및 data 타입으로 변환
print(movies['added_to_platform'].value_counts())
print(movies['added_to_platform'].size)
movies['added_to_platform'] = pd.to_datetime(movies['added_to_platform'], errors='coerce')

added_to_platform
2024-05-09    4
2023-09-28    4
2021-04-22    4
2024-03-02    3
2022-06-24    3
             ..
2021-09-20    1
2020-10-04    1
2021-01-21    1
2023-06-15    1
2022-01-28    1
Name: count, Length: 679, dtype: int64
856

In [375]:
# 데이터 문자열 NAN(결측치) 제거
# 결측치가 많은 컬럼 제거 후 너무 적은 데이터가 남은 컬럼 제거
string = ['genre_secondary']
dropped = movies.dropna(subset=string)
after = len(dropped)
print(movies[string].count())
movies.drop(columns=['genre_secondary'], inplace=True)

genre_secondary    317
dtype: int64

### Boolean
- `is_netflix_original` (넷플릭스 오리지널 여부)
- `content_warning` (콘텐츠 경고)

In [197]:
# is_netflix_original 값 확인
print(movies['is_netflix_original'].value_counts())
print(movies['is_netflix_original'].size)

is_netflix_original
False    590
True     266
Name: count, dtype: int64
856

In [198]:
# content_warning 값 확인
print(movies['content_warning'].value_counts())
print(movies['content_warning'].size)

content_warning
False    693
True     163
Name: count, dtype: int64
856

## recommendation

In [26]:
recommendation.head()

,recommendation_id,user_id,movie_id,recommendation_date,recommendation_type,recommendation_score,was_clicked,position_in_list,device_type,time_of_day,algorithm_version
0,rec_000001,user_06326,movie_0771,2025-07-03,new_releases,NaN,False,10,Tablet,evening,v1.4
1,rec_000002,user_02180,movie_0985,2024-11-07,genre_based,0.916,False,9,Mobile,evening,v1.4
2,rec_000003,user_03535,movie_0834,2024-08-22,personalized,0.816,False,2,Tablet,evening,v1.4
3,rec_000004,user_05025,movie_0718,2024-04-12,trending,0.771,False,16,Mobile,evening,v1.2
4,rec_000005,user_06794,movie_0718,2025-10-30,similar_users,0.251,False,9,Tablet,evening,v1.3

In [421]:
recommendation.isnull().sum()

recommendation_id      0
user_id                0
movie_id               0
recommendation_date    0
recommendation_type    0
was_clicked            0
position_in_list       0
device_type            0
time_of_day            0
algorithm_version      0
dtype: int64

### 숫자열
- `recommendation_score` (추천 점수)
- `position_in_list` (목록 내 위치)

In [221]:
# recommendation_score 값 확인 및 반올림
recommendation['recommendation_score'] = recommendation['recommendation_score'].round(1)
print(recommendation['recommendation_score'].value_counts())
print(recommendation['recommendation_score'].size)

recommendation_score
0.4    4867
0.8    4827
0.6    4801
0.7    4740
0.2    4715
0.9    4695
0.3    4639
0.5    4626
1.0    2429
0.1    2386
Name: count, dtype: int64
47478

In [222]:
# position_in_list
print(recommendation['position_in_list'].value_counts())
print(recommendation['position_in_list'].size)

position_in_list
16    2460
3     2427
11    2423
9     2421
13    2413
20    2406
18    2387
8     2366
14    2363
10    2363
17    2360
2     2355
7     2353
4     2350
6     2350
5     2345
1     2342
12    2342
19    2339
15    2313
Name: count, dtype: int64
47478

In [381]:
# 결측치가 많은 컬럼 제거
recommendation.drop(columns=['recommendation_score'], inplace=True)

### 문자열
- `recommendation_id` (추천 ID)
- `user_id` (사용자 ID)
- `movie_id` (영화 ID)
- `recommendation_date` (추천 날짜)
- `recommendation_type` (추천 유형)
- `device_type` (기기 유형)
- `time_of_day` (시간대)
- `algorithm_version` (알고리즘 버전)

In [202]:
# recommendation_id 중복값 제거 및 값 확인
print(recommendation['recommendation_id'].value_counts())
print(recommendation['recommendation_id'].duplicated().sum())
recommendation.drop_duplicates(subset=['recommendation_id'], keep='first', inplace=True)
print(recommendation['recommendation_id'].size)

recommendation_id
rec_000001    1
rec_000002    1
rec_000003    1
rec_000004    1
rec_000005    1
             ..
rec_049996    1
rec_049997    1
rec_049998    1
rec_049999    1
rec_050000    1
Name: count, Length: 50000, dtype: int64
0
50000

In [382]:
# user_id 값 확인
print(recommendation['user_id'].value_counts())
print(recommendation['user_id'].size)

user_id
user_00231    17
user_06547    17
user_00031    15
user_03812    15
user_01099    15
              ..
user_07460     1
user_03276     1
user_05011     1
user_00481     1
user_09683     1
Name: count, Length: 9921, dtype: int64
52000

In [211]:
# movie_id 값 확인
print(recommendation['movie_id'].value_counts())
print(recommendation['movie_id'].size)

movie_id
movie_0946    84
movie_0342    74
movie_0330    72
movie_0972    70
movie_0653    70
              ..
movie_0231    33
movie_0183    32
movie_0107    32
movie_0688    32
movie_0291    31
Name: count, Length: 1000, dtype: int64
50000

In [208]:
# recommendation_date 값 확인 및 date 타입으로 변환
recommendation['recommendation_date'] = pd.to_datetime(recommendation['recommendation_date'], errors='coerce')
print(recommendation['recommendation_date'].value_counts())
print(recommendation['recommendation_date'].size)

recommendation_date
2024-05-26    92
2024-12-18    92
2025-02-28    92
2024-08-01    92
2025-08-06    91
              ..
2024-02-25    49
2025-03-15    47
2024-06-15    46
2024-07-26    45
2024-12-20    44
Name: count, Length: 731, dtype: int64
50000

In [210]:
# recommendation_type 값 확인
print(recommendation['recommendation_type'].value_counts())
print(recommendation['recommendation_type'].size)

recommendation_type
personalized     10170
genre_based       9989
new_releases      9950
trending          9949
similar_users     9942
Name: count, dtype: int64
50000

In [ ]:
# device_type 값 확인
print(recommendation['device_type'].value_counts())
print(recommendation['device_type'].size)

device_type
Tablet      12539
Smart TV    12517
Laptop      12480
Mobile      12464
Name: count, dtype: int64
50000

In [215]:
# time_of_day 값 확인
print(recommendation['time_of_day'].value_counts())
print(recommendation['time_of_day'].size)

time_of_day
evening      12576
morning      12538
night        12518
afternoon    12368
Name: count, dtype: int64
50000

In [217]:
# algorithm_version 값 확인
print(recommendation['algorithm_version'].value_counts())
print(recommendation['algorithm_version'].size)

algorithm_version
v1.4    18906
v1.3    14196
v2.0     9540
v1.2     4836
Name: count, dtype: int64
50000

In [383]:
# 결측치 제거
recommendation.dropna(subset=['algorithm_version'], inplace=True)

### Boolean
- `was_clicked` (클릭 여부)

In [226]:
# was_clicked 값 확인
print(recommendation['was_clicked'].value_counts())
print(recommendation['was_clicked'].size)

was_clicked
False    36317
True      6408
Name: count, dtype: int64
42725

## reviews

In [27]:
reviews.head()

,review_id,user_id,movie_id,rating,review_date,device_type,is_verified_watch,helpful_votes,total_votes,review_text,sentiment,sentiment_score
0,review_000001,user_07066,movie_0360,4,2025-03-29,Mobile,False,3.0,5.0,Fantastic cinematography and plot twists.,positive,0.711
1,review_000002,user_02953,movie_0095,5,2024-07-19,Mobile,True,2.0,2.0,This series is a masterpiece!,positive,0.645
2,review_000003,user_05528,movie_0518,4,2025-02-11,Tablet,True,2.0,5.0,Fantastic cinematography and plot twists.,positive,0.730
3,review_000004,user_07612,movie_0672,5,2025-11-26,Mobile,True,7.0,7.0,One of the best series I've ever watched. High...,positive,0.798
4,review_000005,user_03424,movie_0580,3,2025-07-11,Mobile,True,1.0,5.0,Mixed feelings about this one.,neutral,0.410

In [420]:
reviews.isnull().sum()

review_id            0
user_id              0
movie_id             0
rating               0
review_date          0
device_type          0
is_verified_watch    0
helpful_votes        0
total_votes          0
review_text          0
sentiment            0
sentiment_score      0
dtype: int64

### 숫자열
- `rating` (평점)
- `helpful_votes` (도움이 된 투표 수)
- `total_votes` (총 투표 수)
- `sentiment_score` (감성 점수)

In [386]:
# rating 값 확인
print(reviews['rating'].value_counts())
print(reviews['rating'].size)

rating
4    5373
5    3957
3    3824
2    1520
1     776
Name: count, dtype: int64
15450

In [387]:
# helpful_votes 값 확인
print(reviews['helpful_votes'].value_counts())
print(reviews['helpful_votes'].size)

helpful_votes
3.0     3049
2.0     3030
4.0     2359
1.0     2042
5.0     1350
6.0      678
0.0      673
7.0      295
8.0      104
9.0       43
10.0       8
13.0       2
12.0       1
11.0       1
Name: count, dtype: int64
15450

In [ ]:
# total_votes 값 확인
print(reviews['total_votes'].value_counts())
print(reviews['total_votes'].size)

total_votes
5.0     2789
4.0     2578
6.0     2350
3.0     1625
7.0     1617
8.0      959
2.0      640
9.0      533
10.0     259
11.0     105
1.0       98
12.0      49
13.0      18
0.0        5
14.0       5
15.0       4
16.0       1
Name: count, dtype: int64
15450

In [389]:
# sentiment_score 값 확인 및 반올림
reviews['sentiment_score'] = reviews['sentiment_score'].round(1)
print(reviews['sentiment_score'].value_counts())
print(reviews['sentiment_score'].size)

sentiment_score
0.7    1928
0.8    1925
0.9    1866
0.6    1765
0.5    1492
0.4     991
1.0     952
0.1     486
0.2     475
0.3     439
0.0     247
Name: count, dtype: int64
12566

In [388]:
# 결측치 제거
reviews.dropna(subset=['sentiment_score', 'helpful_votes', 'total_votes'], inplace=True)

### 문자열
- `review_id` (리뷰 ID)
- `user_id` (사용자 ID)
- `movie_id` (영화 ID)
- `review_date` (리뷰 작성일)
- `device_type` (기기 유형)
- `review_text` (리뷰 텍스트)
- `sentiment` (감성/감정)

In [243]:
# review_id 값 확인
print(reviews['review_id'].value_counts())
print(reviews['review_id'].duplicated().sum())
reviews.drop_duplicates(subset=['review_id'], keep='first', inplace=True)
print(reviews['review_id'].size)

review_id
review_000001    1
review_000002    1
review_000003    1
review_000004    1
review_000005    1
                ..
review_014996    1
review_014997    1
review_014998    1
review_014999    1
review_015000    1
Name: count, Length: 12204, dtype: int64
0
12204

In [245]:
# user_id 값 확인
print(reviews['user_id'].value_counts())
print(reviews['user_id'].size)

user_id
user_08441    7
user_09501    7
user_06751    7
user_05784    7
user_04356    7
             ..
user_03285    1
user_06318    1
user_03810    1
user_02897    1
user_03744    1
Name: count, Length: 7029, dtype: int64
12204

In [247]:
# movie_id 값 확인
print(reviews['movie_id'].value_counts())
print(reviews['movie_id'].size)

movie_id
movie_0317    27
movie_0515    24
movie_0200    23
movie_0099    23
movie_0722    22
              ..
movie_0910     4
movie_0638     4
movie_0510     4
movie_0177     3
movie_0081     3
Name: count, Length: 1000, dtype: int64
12204

In [391]:
# review_date 값 확인 및 데이터 타입으로 변환
reviews['review_date'] = pd.to_datetime(reviews['review_date'], errors='coerce')
print(reviews['review_date'].value_counts())
print(reviews['review_date'].size)

review_date
2025-12-31    32
2024-01-04    29
2025-02-18    28
2025-01-12    28
2025-03-07    28
              ..
2025-10-11     6
2024-08-12     6
2024-02-19     6
2024-08-10     6
2025-03-11     5
Name: count, Length: 731, dtype: int64
11915

In [251]:
# device_type 값 확인
print(reviews['device_type'].value_counts())
print(reviews['device_type'].size)

device_type
Mobile      3105
Smart TV    3096
Laptop      3005
Tablet      2998
Name: count, dtype: int64
12204

In [ ]:
# review_text 값 확인
print(reviews['review_text'].value_counts())
print(reviews['review_text'].size)

review_text
This series is a masterpiece!                                  737
Outstanding direction and screenplay.                          735
Perfect blend of drama and action.                             728
Absolutely loved this movie. Great acting and storyline.       714
Amazing show! Couldn't stop watching.                          704
One of the best series I've ever watched. Highly recommend!    690
Brilliant performance by the cast. Must watch!                 686
Fantastic cinematography and plot twists.                      680
Incredible story telling. Kept me engaged throughout.          677
This movie exceeded my expectations.                           663
It was okay. Nothing special.                                  300
Mixed feelings about this one.                                 299
Decent watch but forgettable.                                  296
Could have been better.                                        290
Watchable but predictable.                                     290
Has its moments but overall average.                           290
Average movie. Some good moments.                              288
Not bad but not great either.                                  264
Okay for a one-time watch.                                     262
It's fine for background watching.                             258
Not worth the time. Very predictable.                          194
Slow paced and boring.                                         189
Overhyped. Didn't live up to expectations.                     182
Waste of time. Poor character development.                     174
Confusing plot. Hard to follow.                                174
Poor acting and weak plot.                                     173
Boring storyline, couldn't finish watching.                    168
Not my cup of tea. Too violent.                                163
Terrible script and direction.                                 150
Disappointing. Expected much more.                             150
Name: count, dtype: int64

In [ ]:
# sentiment 값 확인
print(reviews['sentiment'].value_counts())
print(reviews['sentiment'].size)

sentiment
positive    7397
neutral     2993
negative    1814
Name: count, dtype: int64

In [390]:
# 결측치 제거
reviews.dropna(subset=['review_text'], inplace=True)

### Boolean
- `is_verified_watch` (검증된 시청 여부)

In [257]:
# is_verified_watch 값 확인
print(reviews['is_verified_watch'].value_counts())
print(reviews['is_verified_watch'].size)

is_verified_watch
True     9362
False    2206
Name: count, dtype: int64
11568

## search

In [28]:
search.head()

,search_id,user_id,search_query,search_date,results_returned,clicked_result_position,device_type,search_duration_seconds,had_typo,used_filters,location_country
0,search_000001,user_09864,classic movies,2024-03-22,20,2.0,Tablet,12.4,False,False,Canada
1,search_000002,user_08038,stand up comedy,2025-11-22,24,4.0,Tablet,63.5,True,False,USA
2,search_000003,user_02009,music documentaries,2024-10-09,86,1.0,Tablet,24.7,True,False,USA
3,search_000004,user_01083,comedy shows,2024-12-14,70,4.0,Mobile,53.7,False,False,USA
4,search_000005,user_04269,movies based on true stories,2025-01-10,48,NaN,Tablet,69.6,True,False,USA

In [423]:
search.isnull().sum()

search_id                  0
user_id                    0
search_query               0
search_date                0
results_returned           0
device_type                0
search_duration_seconds    0
had_typo                   0
used_filters               0
location_country           0
dtype: int64

### 숫자열
- `results_returned` (반환된 결과 수)
- `clicked_result_position` (클릭된 결과 위치)
- `search_duration_seconds` (검색 소요 시간(초))

In [261]:
# results_returned 값 확인
print(search['results_returned'].value_counts())
print(search['results_returned'].size)

results_returned
49    306
61    301
82    300
78    296
38    296
     ...
25    239
22    237
70    232
31    226
39    219
Name: count, Length: 101, dtype: int64
26500

In [294]:
# clicked_result_position 값 확인 및 반올림
search['clicked_result_position'] = search['clicked_result_position'].round(0)
print(search['clicked_result_position'].value_counts())
print(search['clicked_result_position'].size)

clicked_result_position
7.0     1237
6.0     1225
10.0    1178
8.0     1174
2.0     1155
3.0     1149
5.0     1147
4.0     1143
9.0     1122
1.0     1090
Name: count, dtype: int64
11620

In [394]:
# search_duration_seconds 값 확인
search['search_duration_seconds'] = search['search_duration_seconds'].round(0)
print(search['search_duration_seconds'].value_counts())
print(search['search_duration_seconds'].size)

search_duration_seconds
8.0      1028
14.0      998
10.0      985
12.0      973
16.0      943
         ...
116.0       1
96.0        1
103.0       1
114.0       1
104.0       1
Name: count, Length: 109, dtype: int64
25223

In [393]:
# 결측치 제거 및 컬럼 제거
search.dropna(subset=['search_duration_seconds'], inplace=True)
search.drop(columns=['clicked_result_position'], inplace=True)

### 문자열
- `search_id` (검색 ID)
- `user_id` (사용자 ID)
- `search_query` (검색어)
- `search_date` (검색 날짜)
- `device_type` (기기 유형)
- `location_country` (위치(국가))

In [ ]:
# search_id 값 확인 및 중복값 제거
print(search['search_id'].value_counts())
print(search.duplicated().sum())
search.drop_duplicates(subset=['search_id'], keep='first', inplace=True)
print(search['search_id'].size)

search_id
search_000001    1
search_000002    1
search_000003    1
search_000004    1
search_000005    1
                ..
search_024996    1
search_024997    1
search_024998    1
search_024999    1
search_025000    1
Name: count, Length: 25000, dtype: int64
0
25000

In [278]:
# user_id 값 확인
print(search['user_id'].value_counts())
print(search['user_id'].size)

user_id
user_08356    9
user_04165    9
user_02953    9
user_05805    9
user_09095    9
             ..
user_07998    1
user_01604    1
user_02220    1
user_03296    1
user_05901    1
Name: count, Length: 9186, dtype: int64
25000

In [280]:
# search_query 값 확인
print(search['search_query'].value_counts())
print(search['search_query'].size)

search_query
stand up comedy                    958
sci-fi                             943
comedy shows                       940
travel documentaries               938
new releases                       933
classic movies                     929
superhero movies                   924
drama series                       917
romantic comedies                  916
horror movies                      915
trending now                       911
netflix originals                  907
true crime                         903
family movies                      901
thriller series                    898
war movies                         892
christmas movies                   892
cooking shows                      888
documentaries                      885
action movies                      871
biographies                        865
animated shows                     863
music documentaries                837
korean drama                       837
halloween movies                   825
movies based on true stories       389
short episodes under 30 minutes    377
shows with strong female leads     365
best movies 2024                   356
movies like stranger things        351
series with only one season        337
award winning documentaries        337
Name: count, dtype: int64
25000

In [283]:
# search_date 값 확인 및 데이터 타입으로 변환
search['search_date'] = pd.to_datetime(search['search_date'], errors='coerce')
print(search['search_date'].value_counts())
print(search['search_date'].size)

search_date
2025-05-09    51
2025-01-17    50
2024-05-23    49
2025-06-16    49
2024-12-31    49
              ..
2025-12-21    21
2024-05-16    20
2024-06-02    19
2024-02-09    18
2024-09-24    16
Name: count, Length: 731, dtype: int64
25000

In [285]:
# device_type 값 확인
print(search['device_type'].value_counts())
print(search['device_type'].size)

device_type
Tablet      6385
Laptop      6243
Smart TV    6192
Mobile      6180
Name: count, dtype: int64
25000

In [287]:
# location_country 값 확인
print(search['location_country'].value_counts())
print(search['location_country'].size)

location_country
USA       17491
Canada     7509
Name: count, dtype: int64
25000

### Boolean
- `had_typo` (오타 여부)
- `used_filters` (필터 사용 여부)

In [289]:
# had_typo 값 확인
print(search['had_typo'].value_counts())
print(search['had_typo'].size)

had_typo
False    21227
True      3773
Name: count, dtype: int64
25000

In [291]:
# used_filters 값 확인
print(search['used_filters'].value_counts())
print(search['used_filters'].size)

used_filters
False    18647
True      6353
Name: count, dtype: int64
25000

## users

In [29]:
users.head()

,user_id,email,first_name,last_name,age,gender,country,state_province,city,subscription_plan,subscription_start_date,is_active,monthly_spend,primary_device,household_size,created_at
0,user_00001,figueroajohn@example.org,Erica,Garza,43.0,Male,USA,Massachusetts,North Jefferyhaven,Basic,2024-04-08,True,36.06,Laptop,1.0,2023-04-01 14:40:50.540242
1,user_00002,blakeerik@example.com,Joshua,Bernard,38.0,Male,USA,Texas,North Noahstad,Premium+,2024-05-24,True,14.59,Desktop,2.0,2024-10-10 15:39:11.030515
2,user_00003,smiller@example.net,Barbara,Williams,32.0,Female,USA,Michigan,Traciebury,Standard,2023-09-22,False,11.71,Desktop,3.0,2024-06-29 14:27:49.560875
3,user_00004,mitchellclark@example.com,Chelsea,Ferguson,11.0,Male,USA,Ohio,South Noah,Standard,2024-08-21,True,28.56,Laptop,2.0,2023-04-11 01:01:59.614841
4,user_00005,richard13@example.net,Jason,Foster,21.0,Female,USA,Arizona,West Donald,Standard,2024-10-28,True,9.54,Desktop,6.0,2025-04-12 19:59:30.137806

In [424]:
users.isnull().sum()

user_id                    0
email                      0
first_name                 0
last_name                  0
age                        0
gender                     0
country                    0
state_province             0
city                       0
subscription_plan          0
subscription_start_date    0
is_active                  0
monthly_spend              0
primary_device             0
household_size             0
created_at                 0
dtype: int64

### 숫자열
- `age` (나이)
- `monthly_spend` (월간 지출액)
- `household_size` (가구 구성원 수)

In [397]:
# age 값 확인, 반올림 및 음수 NAN값으로 변환
users['age'] = users['age'].round(0)
users.loc[users['age'] < 0, 'age'] = np.nan
print(users['age'].value_counts())
print(users['age'].size)

age
35.0     318
31.0     305
36.0     295
33.0     289
40.0     286
        ...
73.0       1
108.0      1
107.0      1
95.0       1
93.0       1
Name: count, Length: 91, dtype: int64
10300

In [ ]:
# monthly_spend 값 확인 및 반올림
users['monthly_spend'] = users['monthly_spend'].round(0)
print(users['monthly_spend'].value_counts())
print(users['monthly_spend'].size)

monthly_spend
9.0      454
10.0     435
8.0      429
7.0      415
6.0      412
        ...
843.0      1
544.0      1
835.0      1
378.0      1
657.0      1
Name: count, Length: 171, dtype: int64
10300

In [309]:
# household_size 값 확인 및 반올림
users['household_size'] = users['household_size'].round(0)
print(users['household_size'].value_counts())
print(users['household_size'].size)

household_size
2.0    2659
1.0    1719
3.0    1717
4.0    1350
5.0     695
6.0     371
7.0     172
8.0      72
Name: count, dtype: int64
10300

In [398]:
# 결측치 제거
users.dropna(subset=['age', 'monthly_spend', 'household_size'], inplace=True)

### 문자열
- `user_id` (사용자 ID)
- `email` (이메일)
- `first_name` (이름)
- `last_name` (성)
- `gender` (성별)
- `country` (국가)
- `state_province` (주/도)
- `city` (도시)
- `subscription_plan` (구독 요금제)
- `subscription_start_date` (구독 시작일)
- `primary_device` (주 사용 기기)
- `created_at` (계정 생성일)

In [321]:
# user_id 값 확인 및 중복값 제거
print(users['user_id'].value_counts())
users['user_id'].duplicated().sum()
users.drop_duplicates(subset=['user_id'], keep='first', inplace=True)
print(users['user_id'].size)

user_id
user_00001    1
user_00002    1
user_00003    1
user_00004    1
user_00005    1
             ..
user_09995    1
user_09996    1
user_09998    1
user_09999    1
user_10000    1
Name: count, Length: 6737, dtype: int64
6737

In [ ]:
# email 값 확인 및 중복값 제거
print(users['email'].value_counts())
users['email'].duplicated().sum()
users.drop_duplicates(subset=['email'], keep='first', inplace=True)
print(users['email'].size)

email
figueroajohn@example.org      1
blakeerik@example.com         1
smiller@example.net           1
mitchellclark@example.com     1
richard13@example.net         1
                             ..
erin07@example.org            1
jessicaestrada@example.org    1
lisa14@example.com            1
kscott@example.org            1
kevin71@example.org           1
Name: count, Length: 6627, dtype: int64
6627

In [326]:
# first_name 값 확인
print(users['first_name'].value_counts())
print(users['first_name'].size)

first_name
Michael        150
David          119
James          104
Robert          95
Christopher     94
              ...
Adriana          1
Tim              1
Ashlee           1
Kristie          1
Kellie           1
Name: count, Length: 625, dtype: int64
6627

In [328]:
# last_name 값 확인
print(users['last_name'].value_counts)
print(users['last_name'].size)

<bound method IndexOpsMixin.value_counts of 0          Garza
1        Bernard
2       Williams
3       Ferguson
4         Foster
          ...
9994     Goodwin
9995    Harrison
9997    Galloway
9998    Mckenzie
9999     Morales
Name: last_name, Length: 6627, dtype: object>
6627

In [330]:
# gender 값 확인
print(users['gender'].value_counts())
print(users['gender'].size)

gender
Female               2758
Male                 2719
Other                 306
Prefer not to say     298
Name: count, dtype: int64
6627

In [332]:
# country 값 확인
print(users['country'].value_counts())
print(users['country'].size)

country
USA       4636
Canada    1991
Name: count, dtype: int64
6627

In [334]:
# state_province 값 확인
print(users['state_province'].value_counts())
print(users['state_province'].size)

state_province
North Carolina               261
Tennessee                    260
Arizona                      241
Nova Scotia                  239
Georgia                      239
Florida                      236
Wisconsin                    233
Indiana                      233
New York                     233
Illinois                     232
Michigan                     230
Texas                        230
Missouri                     229
Pennsylvania                 228
California                   227
Washington                   226
New Jersey                   224
Virginia                     222
Maryland                     221
Massachusetts                218
Ohio                         213
Quebec                       209
Ontario                      206
Manitoba                     200
Prince Edward Island         198
Newfoundland and Labrador    197
Alberta                      191
Saskatchewan                 187
British Columbia             185
New Brunswick                179
Name: count, dtype: int64
6627

In [ ]:
# city 값 확인
print(users['city'].value_counts())
print(users['city'].size)

city
North Michael        11
North Jennifer        7
Port Michael          6
Davismouth            6
New Christopher       6
                     ..
South Bobside         1
Luistown              1
Tinaland              1
Port Jeanetteview     1
Navarrohaven          1
Name: count, Length: 5525, dtype: int64
6627

In [ ]:
# subscription_plan 값 확인
print(users['subscription_plan'].value_counts())
print(users['subscription_plan'].size)

subscription_plan
Standard    2342
Premium     2317
Basic       1316
Premium+     652
Name: count, dtype: int64
6627

In [342]:
# subscription_start_date 값 확인 및 데이터 타입으로 변환
users['subscription_start_date'] = pd.to_datetime(users['subscription_start_date'])
print(users['subscription_start_date'].value_counts())
print(users['subscription_start_date'].size)

subscription_start_date
2023-08-21    15
2023-09-14    14
2022-08-17    14
2025-02-08    14
2023-01-12    14
              ..
2023-06-30     1
2025-07-31     1
2025-06-18     1
2025-02-04     1
2024-05-26     1
Name: count, Length: 1095, dtype: int64
6627

In [344]:
# primary_device 값 확인
print(users['primary_device'].value_counts())
print(users['primary_device'].size)

primary_device
Desktop           1147
Tablet            1105
Laptop            1104
Smart TV          1098
Mobile            1089
Gaming Console    1084
Name: count, dtype: int64
6627

In [347]:
# created_at 값 확인 및 데이터 타입으로 변환
users['created_at'] = pd.to_datetime(users['created_at'])
print(users['created_at'].value_counts())
print(users['created_at'].size)

created_at
2023-04-01 14:40:50.540242    1
2024-10-10 15:39:11.030515    1
2024-06-29 14:27:49.560875    1
2023-04-11 01:01:59.614841    1
2025-04-12 19:59:30.137806    1
                             ..
2024-04-10 16:47:26.959267    1
2022-10-13 00:19:59.664856    1
2025-05-28 10:02:35.235233    1
2024-07-14 10:36:03.719715    1
2024-06-03 22:53:10.930630    1
Name: count, Length: 6627, dtype: int64
6627

In [400]:
# 결측치 제거
users.dropna(subset=['gender'], inplace=True)

### Boolean
- `is_active` (활성 여부)

In [349]:
# is_active 값 확인
print(users['is_active'].value_counts())
print(users['is_active'].size)

is_active
True     5669
False     958
Name: count, dtype: int64
6627

## watch

In [30]:
watch.head()

,session_id,user_id,movie_id,watch_date,device_type,watch_duration_minutes,progress_percentage,action,quality,location_country,is_download,user_rating
0,session_000001,user_07271,movie_0511,2025-11-13,Tablet,63.9,34.6,completed,HD,USA,False,NaN
1,session_000002,user_00861,movie_0588,2025-02-26,Laptop,120.1,44.2,started,HD,USA,False,NaN
2,session_000003,user_05391,movie_0694,2024-12-15,Desktop,572.1,84.7,started,HD,Canada,False,1.0
3,session_000004,user_05192,movie_0234,2024-09-30,Desktop,395.3,89.9,completed,SD,USA,False,5.0
4,session_000005,user_05735,movie_0390,2024-08-04,Tablet,14.6,6.2,completed,HD,USA,False,NaN

In [426]:
watch.isnull().sum()

session_id                0
user_id                   0
movie_id                  0
watch_date                0
device_type               0
watch_duration_minutes    0
progress_percentage       0
action                    0
quality                   0
location_country          0
is_download               0
dtype: int64

### 숫자열
- `watch_duration_minutes` (시청 시간(분))
- `progress_percentage` (시청 진행률(%))
- `user_rating` (사용자 평점)

In [405]:
# watch_duration_minutes 값 확인 및 반올림
watch['watch_duration_minutes'] = watch['watch_duration_minutes'].round(0)
print(watch['watch_duration_minutes'].value_counts())
print(watch['watch_duration_minutes'].size)

watch_duration_minutes
28.0     1170
22.0     1155
40.0     1145
26.0     1141
36.0     1123
         ...
686.0       1
545.0       1
655.0       1
565.0       1
704.0       1
Name: count, Length: 730, dtype: int64
85181

In [404]:
# progress_percentage 값 확인 및 반올림
watch['progress_percentage'] = watch['progress_percentage'].round(0)
print(watch['progress_percentage'].value_counts())
print(watch['progress_percentage'].size)

progress_percentage
28.0     993
50.0     989
2.0      988
78.0     987
38.0     972
        ...
93.0     726
85.0     693
77.0     691
100.0    494
0.0      461
Name: count, Length: 101, dtype: int64
85181

In [ ]:
# user_rating 값 확인
print(watch['user_rating'].value_counts())
print(watch['user_rating'].size)

In [402]:
# 결측치 제거 및 결측치가 많은 컬럼 제거
watch.drop(columns=['user_rating'], inplace=True)
watch.dropna(subset=['watch_duration_minutes', 'progress_percentage'], inplace=True)

### 문자열
- `session_id` (세션 ID)
- `user_id` (사용자 ID)
- `movie_id` (영화 ID)
- `watch_date` (시청 날짜)
- `device_type` (기기 유형)
- `action` (행동/활동)
- `quality` (화질)
- `location_country` (위치(국가))

In [410]:
# session_id 값 확인
print(watch['session_id'].value_counts())
watch['session_id'].duplicated().sum()
watch.drop_duplicates(subset=['session_id'], keep='first', inplace=True)

session_id
session_000001    1
session_000002    1
session_000003    1
session_000004    1
session_000005    1
                 ..
session_099995    1
session_099996    1
session_099998    1
session_099999    1
session_100000    1
Name: count, Length: 81120, dtype: int64

In [411]:
# user_id 값 확인
print(watch['user_id'].value_counts())

user_id
user_06589    20
user_08103    19
user_02512    19
user_02940    19
user_02666    19
              ..
user_06426     1
user_08479     1
user_08960     1
user_05035     1
user_01254     1
Name: count, Length: 9999, dtype: int64

In [ ]:
# movie_id 값 확인
print(watch['movie_id'].value_counts())

movie_id
movie_0285    111
movie_0939    109
movie_0115    107
movie_0148    105
movie_0727    104
             ...
movie_0684     60
movie_0007     60
movie_0633     60
movie_0707     57
movie_0773     56
Name: count, Length: 1000, dtype: int64

In [414]:
# watch_date 값 확인 및 데이터 타입으로 변환
watch['watch_date'] = pd.to_datetime(watch['watch_date'])
print(watch['watch_date'].value_counts())

watch_date
2024-02-24    149
2024-01-02    141
2024-06-26    136
2025-11-18    136
2024-12-24    136
             ...
2025-03-03     83
2025-06-19     80
2024-01-08     78
2025-04-12     76
2025-07-22     75
Name: count, Length: 731, dtype: int64

In [415]:
# device_type 값 확인
print(watch['device_type'].value_counts())

device_type
Desktop     16334
Tablet      16266
Smart TV    16246
Mobile      16241
Laptop      16033
Name: count, dtype: int64

In [ ]:
# action 값 확인
print(watch['action'].value_counts())

action
started      20423
paused       20277
stopped      20270
completed    20150
Name: count, dtype: int64

In [ ]:
# quality 값 확인
print(watch['quality'].value_counts())

quality
HD          40440
4K          24296
SD          12364
Ultra HD     4020
Name: count, dtype: int64

In [ ]:
# location_country 값 확인
print(watch['location_country'].value_counts())

location_country
USA       56497
Canada    24623
Name: count, dtype: int64

### Boolean
- `is_download` (다운로드 여부)

In [419]:
# is_download 값 확인
print(watch['is_download'].value_counts())

is_download
False    64835
True     16285
Name: count, dtype: int64

## to csv

In [428]:
movies.to_csv('./data/2/movies_cleaned.csv', index=False)
recommendation.to_csv('./data/2/recommendation_cleaned.csv', index=False)
reviews.to_csv('./data/2/reviews_cleaned.csv', index=False)
search.to_csv('./data/2/search_cleaned.csv', index=False)
users.to_csv('./data/2/users_cleaned.csv', index=False)
watch.to_csv('./data/2/watch_cleaned.csv', index=False)